[Unit]
Description=Mount PICUBE USB stick
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/picube-mount.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
