[Unit]
Description=Initialize ALSA analog output
After=sound.target

[Service]
Type=oneshot
ExecStart=/usr/bin/amixer -c 2 set 'PCM Playback Volume' 100%
ExecStart=/usr/bin/amixer -c 2 set 'PCM Playback Switch' on
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target